- var section = 'pseudo-elements'
- var title = 'Pseudo-Elements'


section(class=section)
  .c-slide__header--no-body
    h1.t-color=title
    h3.fragment A CSS selectable <i>part</i> of an element.

  aside.notes
    ul
      li what are they?
      li a css selectable PART of an element



section(class=section)
  .c-slide__header.t-bg-color
    h4.c-slide__header--topic=title
    h3.c-slide__header--slide Currently Available
  .c-slide__body
    .c-slide__content
      ul.c-pseudo-element-list.fragment.destroyable.visible.current-fragment
        li &nbsp;::after (:after)&nbsp;
        li &nbsp;::-ms-fill&nbsp;
        li &nbsp;::-ms-fill-lower&nbsp;
        li &nbsp;::-ms-fill-upper&nbsp;
        li &nbsp;::-ms-thumb&nbsp;
        li &nbsp;::-ms-track&nbsp;
        li &nbsp;::-moz-progress-bar&nbsp;
        li &nbsp;::-moz-range-progress&nbsp;
        li &nbsp;::-moz-range-thumb&nbsp;
        li &nbsp;::-moz-range-track&nbsp;
        li &nbsp;::-webkit-progress-bar&nbsp;
        li &nbsp;::-webkit-progress-value&nbsp;
        li &nbsp;::-webkit-slider-runnable-track&nbsp;
        li &nbsp;::-webkit-slider-thumb&nbsp;
        li &nbsp;::before (:before)&nbsp;
        li &nbsp;::first-letter (:first-letter)&nbsp;
        li &nbsp;::first-line (:first-line)&nbsp;
        li &nbsp;::selection&nbsp;
        li &nbsp;::backdrop&nbsp;

      ul.c-pseudo-element-list.fragment.destroyable
        li &nbsp;::after (:after)&nbsp;
        li.u-strike.t-color &nbsp;::-ms-fill&nbsp;
        li.u-strike.t-color &nbsp;::-ms-fill-lower&nbsp;
        li.u-strike.t-color &nbsp;::-ms-fill-upper&nbsp;
        li.u-strike.t-color &nbsp;::-ms-thumb&nbsp;
        li.u-strike.t-color &nbsp;::-ms-track&nbsp;
        li.u-strike.t-color &nbsp;::-moz-progress-bar&nbsp;
        li.u-strike.t-color &nbsp;::-moz-range-progress&nbsp;
        li.u-strike.t-color &nbsp;::-moz-range-thumb&nbsp;
        li.u-strike.t-color &nbsp;::-moz-range-track&nbsp;
        li.u-strike.t-color &nbsp;::-webkit-progress-bar&nbsp;
        li.u-strike.t-color &nbsp;::-webkit-progress-value&nbsp;
        li.u-strike.t-color &nbsp;::-webkit-slider-runnable-track&nbsp;
        li.u-strike.t-color &nbsp;::-webkit-slider-thumb&nbsp;
        li &nbsp;::before (:before)&nbsp;
        li &nbsp;::first-letter (:first-letter)&nbsp;
        li &nbsp;::first-line (:first-line)&nbsp;
        li &nbsp;::selection&nbsp;
        li &nbsp;::backdrop&nbsp;

      ul.c-pseudo-element-list.fragment.destroyable
        li &nbsp;::after (:after)&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill-lower&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill-upper&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-thumb&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-progress-bar&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-progress&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-thumb&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-progress-bar&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-progress-value&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-slider-runnable-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-slider-thumb&nbsp;
        li &nbsp;::before (:before)&nbsp;
        li &nbsp;::first-letter (:first-letter)&nbsp;
        li &nbsp;::first-line (:first-line)&nbsp;
        li.u-strike.t-color &nbsp;::selection&nbsp;
        li.u-strike.t-color &nbsp;::backdrop&nbsp;

      ul.c-pseudo-element-list.fragment.destroyable
        li.u-highlight &nbsp;::after (:after)&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill-lower&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-fill-upper&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-thumb&nbsp;
        li.u-strike.t-disabled &nbsp;::-ms-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-progress-bar&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-progress&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-thumb&nbsp;
        li.u-strike.t-disabled &nbsp;::-moz-range-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-progress-bar&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-progress-value&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-slider-runnable-track&nbsp;
        li.u-strike.t-disabled &nbsp;::-webkit-slider-thumb&nbsp;
        li.u-highlight &nbsp;::before (:before)&nbsp;
        li &nbsp;::first-letter (:first-letter)&nbsp;
        li &nbsp;::first-line (:first-line)&nbsp;
        li.u-strike.t-disabled &nbsp;::selection&nbsp;
        li.u-strike.t-disabled &nbsp;::backdrop&nbsp;

  aside.notes
    ul
      li 6 that aren't browser-specific or experimental
      li only 4 that have decent support
      li only 2 that really matter



section(class=section)
  .c-slide__header.t-bg-color
    h4.c-slide__header--topic=title
    h3.c-slide__header--slide :before & :after
  .c-slide__body
    .c-slide__content
      .d-flex--justify.fragment.destroyable.visible.current-fragment
        h3.before.ex-hidden [element]
        h3.after.ex-hidden [element]
      .d-flex--justify.fragment.destroyable
        h3.before.t-color--before [element]
        h3.after.ex-hidden [element]
      .d-flex--justify.fragment.destroyable
        h3.before.t-color--before [element]
        h3.after.t-color--after [element]
  
  aside.notes
    ul
      li imaginary space that you can apply styles to



section(class=section)
  .c-slide__header.t-bg-color
    h4.c-slide__header--topic=title
    h2.c-slide__header--slide Positioning
  .c-slide__body
    .c-slide__content
      h3.before.t-color--before.outline element
      h3.before.t-color--before.outline.absolute.fragment element
      h3.before.t-color--before.outline.absolute-after.fragment element
      h3.before.t-color--before.outline.absolute-z.fragment element
      //- h3.before.outline.absolute-random.fragment element

  aside.notes
    ul
      li standard position
      li absolute position
      li absolute to mimic an :after
      li z-index that mo-fo (-1)
      li just about anything you can do to a normal element, you can do to a pseudo element



section(class=section)
  .c-slide__header.t-bg-color
    h4.c-slide__header--topic=title
    h2.c-slide__header--slide Lets Talk About Content
  .c-slide__body
    .c-slide__content
      h3.fragment All <span class="t-color">:before</span> and <span class="t-color">:after</span> pseudo elements MUST have 'content'.
      .content-example.offset-2
        .set-one
          .fragment
            .thing.shape
            pre.fit-code.u-font--small
              code.hljs.
                content: '';
          .fragment
            .thing.unicode
            pre.fit-code.u-font--small
              code.hljs.
                content: '\2605';
          .fragment
            .thing.data(data-content="Woot!")
            pre.fit-code.u-font--small
              code.html.
                <div data-content="Woot!"></div>
              br
              code.sass.
                content: attr(data-content);

        .set-two
          .fragment
            .thing.counter
              ol
                li item 1
                li item 2
                li item 3
            pre.fit-code.u-font--small
              code.hljs.
                ol {
                  counter-reset: my-counter;
                  list-style: none;
                 
                  li:before {
                    content: counter(my-counter);
                    counter-increment: my-counter;
                  }
                }
  aside.notes
    ul
      li no content and build a shape
      li unicode or icon font character
      li data-
      li custom list items

//- Before & afters
//- positioning (inline element, where they are, etc)
//- z-index = -1
//- data- attributes as content

